---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="Acerca de mi | Darianela Piñeiro - Psicóloga Clínica y Organizacional"
	description="Acerca de Darianela Piñeiro - Psicóloga Clínica y Organizacional de Maracaibo, Venezuela reside en Bogotá, Colombia. Conoce su experiencia, educación y habilidades." 
	keywords="Darianela Piñeiro, Psicóloga, Psicóloga Clínica, Psicóloga Organizacional, Acerca de, Sobre mi, Educación, Habilidades, Experiencia, Maracaibo, Venezuela, Bogotá, Colombia"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Acerca de mi"
				tagline=" Gracias por detenerte, Lee abajo para aprender mas de mi."
			>
				<div class="profile">
					<img
						width="500"
						height="400"
						src="/assets/Dari.webp"
						alt="Psicologa Darianela Piñeiro"
					/>
				</div>
			</Hero>

			<section>
				<h2 class="section-title">Sobre mi</h2>
				<div class="content">
					<p>
						Soy proactiva, dinámica, responsable, me encanta sonreír, la música
						y las buenas charlas. Con experiencia en el área clínica y
						organizacional, competencias laborales, inteligencia emocional y
						procesos de selección.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Educación</h2>
				<div class="content">
					<p>Psicología. Año 2012. Universidad Rafael Urdaneta. Maracaibo VE</p>
					<p>
						Magister en gerencia de recursos humanos. Año 2018. Universidad Dr
						Rafael Belloso Chacin Maracaibo VE
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p>
						Comunicación asertiva, Notion, Resiliencia, Capacidad de
						negociación, Creatividad, Espíritu colaborativo, Iniciativa,
						Capacidad de aprendizaje, Capacidad de adaptación, Manejo de
						Ansiedad
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.about img {
		text-align: center;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
