---
import { Image } from "astro:assets";
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<div class="services-image">
			<Image
				src="/assets/mental-health.jpeg"
				alt="descriptive text"
				width="200"
				height="150"
				class="psico-img-1"
			/>
		</div>
		<h2 class="help-heading">Podemos ayudarte</h2>

		<div class="green-card">
			<ul>
				<li>
					Hacer frente a las preocupaciones, el miedo, la tristeza y la
					confusión.
				</li>
				<li>Cambiar para gestionar el estrés y la ansiedad cotidianos.</li>
				<li>
					Dar sentido a los sentimientos incómodos y las emociones abrumadoras.
				</li>
				<li>Construir y reforzar los vínculos familiares.</li>
				<li>Convertirse en un cuidador más empático y atento.</li>
				<li>Adaptarse a los grandes cambios y transiciones de la vida.</li>
				<li>Evitar impulsos autodestructivos y adicciones.</li>
				<li>Cultivar la autoestima y la confianza en uno mismo.</li>
				<li>Disminuir la irritabilidad y las reacciones de ira.</li>
				<li>Aumentar la eficacia interpersonal.</li>
			</ul>
		</div>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<div class="services-image">
			<Image
				src="/assets/psico2.png"
				alt="descriptive text"
				width="200"
				height="150"
				class="psico-img-2"
			/>
		</div>
		<h2>Tecnicas, soluciones y modalidades</h2>
		<div class="pink-card">
			<ul>
				<li>Terapia individual</li>
				<li>Terapia de pareja</li>
				<li>Terapia familiar</li>
				<li>
					Grupos de Educación para Padres y Terapia Conjunta de Padres e Hijos
				</li>
				<li>EMDR</li>
				<li>Terapia de transición vital</li>
				<li>Terapia cognitivo-conductual centrada en el trauma (TF-CBT)</li>
				<li>Método Gottman de terapia relacional</li>
				<li>Terapia relacional Imago (IRT)</li>
				<li>Terapia de Aceptación y Compromiso (ACT)</li>
				<li>
					Terapia basada en la experiencia somática y la atención plena
					(Mindfulness)
				</li>
				<li>Terapia cognitivo-conductual (TCC)</li>
				<li>Sistemas psicodinámicos y familiares</li>
			</ul>
		</div>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	.services-image {
		height: 320px;
		text-align: center;
	}

	.psico-img-1, .psico-img-2 {
		width: 300px;
		height: 307px;
	}

	.stack h2 {
		text-align: center;
	}

	.stack .help-heading{
		padding-bottom: 36px;
	}

	.stack .green-card {
		background-color: var(--accent-green);
		color: white;
		border-radius: 0.5rem;
		height: 500px;
	}
	.stack .pink-card {
		background-color: var(--accent-regular);
		color: white;
		border-radius: 0.5rem;
		height: 500px;
		;
	}

	ul{
		margin: 20px;
		list-style:disc;
		padding-left: 10px;
	}

	ul > li {
		line-height: 22px;
		margin-bottom: 5px;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
