---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	keywords?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="es">
	<head>
		<MainHead title={title} description={description} />
		<Analytics />

		<!-- Paste this right before your closing </head> tag -->
		<script type="text/javascript">
			(function (e, c) {
				if (!c.__SV) {
					var l, h;
					window.mixpanel = c;
					c._i = [];
					c.init = function (q, r, f) {
						function t(d, a) {
							var g = a.split(".");
							2 == g.length && ((d = d[g[0]]), (a = g[1]));
							d[a] = function () {
								d.push([a].concat(Array.prototype.slice.call(arguments, 0)));
							};
						}
						var b = c;
						"undefined" !== typeof f ? (b = c[f] = []) : (f = "mixpanel");
						b.people = b.people || [];
						b.toString = function (d) {
							var a = "mixpanel";
							"mixpanel" !== f && (a += "." + f);
							d || (a += " (stub)");
							return a;
						};
						b.people.toString = function () {
							return b.toString(1) + ".people (stub)";
						};
						l =
							"disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders start_session_recording stop_session_recording people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(
								" "
							);
						for (h = 0; h < l.length; h++) t(b, l[h]);
						var n = "set set_once union unset remove delete".split(" ");
						b.get_group = function () {
							function d(p) {
								a[p] = function () {
									b.push([
										g,
										[p].concat(Array.prototype.slice.call(arguments, 0)),
									]);
								};
							}
							for (
								var a = {},
									g = ["get_group"].concat(
										Array.prototype.slice.call(arguments, 0)
									),
									m = 0;
								m < n.length;
								m++
							)
								d(n[m]);
							return a;
						};
						c._i.push([q, r, f]);
					};
					c.__SV = 1.2;
					var k = e.createElement("script");
					k.type = "text/javascript";
					k.async = !0;
					k.src =
						"undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL
							? MIXPANEL_CUSTOM_LIB_URL
							: "file:" === e.location.protocol &&
								  "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)
								? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"
								: "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
					e = e.getElementsByTagName("script")[0];
					e.parentNode.insertBefore(k, e);
				}
			})(document, window.mixpanel || []);

			mixpanel.init("418085a8214dda54d00f3506cf4927b9", {
				autocapture: true,
				record_sessions_percent: 100,
			});
		</script>
	</head>

	<body>
		<div class="stack backgrounds">
			<Nav />
			<slot />
			<Footer />
		</div>

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener("load", () =>
				document.documentElement.classList.add("loaded")
			);
		</script>

		<style>
			:root {
				--_placeholder-bg: linear-gradient(transparent, transparent);
				/* --bg-image-main: url('/assets/backgrounds/bg-main-light-800w.jpg'); */
				/* --bg-image-main-curves: url('/assets/backgrounds/blurry-gradient-haikei.svg'); */
				--bg-image-subtle-1: var(--_placeholder-bg);
				--bg-image-subtle-2: var(--_placeholder-bg);
				--bg-image-footer: var(--_placeholder-bg);
				--bg-svg-blend-mode: overlay;
				--bg-blend-mode: darken;
				--bg-image-aspect-ratio: 2.25;
				--bg-scale: 1.68;
				--bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
				--bg-gradient-size: calc(var(--bg-scale) * 100%);
			}

			:root.dark {
				--bg-image-main: url("/assets/backgrounds/bg-main-dark-800w.jpg");
				--bg-image-main-curves: url("/assets/backgrounds/bg-main-dark.svg");
				--bg-svg-blend-mode: darken;  
				--bg-blend-mode: lighten;
			}

			/* These backgrounds are displayed below the fold, so we lazy load them
			   once the `.loaded` class has been set.  */
			:root.loaded {
				--bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-light-800w.jpg");
				--bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-light-800w.jpg");
				--bg-image-footer: url("/assets/backgrounds/bg-footer-light-800w.jpg");
			}
			:root.loaded.dark {
				--bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-dark-800w.jpg");
				--bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-dark-800w.jpg");
				--bg-image-footer: url("/assets/backgrounds/bg-footer-dark-800w.jpg");
			}

			@media (min-width: 50em) {
				:root {
					--bg-scale: 1;
					--bg-image-main: url("/assets/backgrounds/bg-main-light-1440w.jpg");
				}
				:root.dark {
					--bg-image-main: url("/assets/backgrounds/bg-main-dark-1440w.jpg");
				}

				:root.loaded {
					--bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-light-1440w.jpg");
					--bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-light-1440w.jpg");
					--bg-image-footer: url("/assets/backgrounds/bg-footer-light-1440w.jpg");
				}
				:root.loaded.dark {
					--bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-dark-1440w.jpg");
					--bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-dark-1440w.jpg");
					--bg-image-footer: url("/assets/backgrounds/bg-footer-dark-1440w.jpg");
				}
			}

			.backgrounds {
				min-height: 100%;
				isolation: isolate;
				background:
					/*noise*/
					url("/assets/backgrounds/noise.png") top center/220px repeat,
					/*footer*/ var(--bg-image-footer) bottom
						center/var(--bg-gradient-size) no-repeat,
					/*header1*/ var(--bg-image-main-curves) top
						center/var(--bg-gradient-size) no-repeat,
					/*header2*/ var(--bg-image-main) top center/var(--bg-gradient-size)
						no-repeat,
					/*base*/ var(--gray-999);
				background-blend-mode: /*noise*/
					overlay,
					/*footer*/ var(--bg-blend-mode),
					/*header1*/ var(--bg-svg-blend-mode),
					/*header2*/ normal,
					/*base*/ normal;
			}
			@media (forced-colors: active) {
				/* Deactivate custom backgrounds for high contrast users. */
				.backgrounds {
					background: none;
					background-blend-mode: none;
					--bg-gradient-size: none;
				}
			}
		</style>
	</body>
</html>
